<div class="face-snap-card" [ngClass]="{ snapped: hasSnapped }">
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <!-- <p>{{ 4346234.76 | number: "1.0-1" }}</p>
  <p>{{ 0.645 | percent: "1.0-1" }}</p>
  <p>{{ 344.56 | currency: "EUR":"code" }}</p> -->
  <p>
    Mis en ligne {{ faceSnap.createdDate | date: "le d MMMM yyyy, à HH:mm" }}
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap()">
      {{ hasSnapped ? "Oops, unsnap!" : "Oh snap!" }}
    </button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ', 0)' }">
      👍 {{ faceSnap.snaps }}
    </span>
  </p>
</div>
